
src/Calculator/CalculatorEndToEndTests/obj/CalculatorEndToEndTests.csproj.nuget.dgspec.json
src/Calculator/CalculatorEndToEndTests/obj/CalculatorEndToEndTests.csproj.nuget.g.props
src/Calculator/CalculatorEndToEndTests/obj/CalculatorEndToEndTests.csproj.nuget.g.targets
src/Calculator/CalculatorEndToEndTests/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
src/Calculator/CalculatorEndToEndTests/obj/Debug/net9.0/CalculatorEndToEndTests.AssemblyInfo.cs
src/Calculator/CalculatorEndToEndTests/obj/Debug/net9.0/CalculatorEndToEndTests.AssemblyInfoInputs.cache
src/Calculator/CalculatorEndToEndTests/obj/Debug/net9.0/CalculatorEndToEndTests.assets.cache
src/Calculator/CalculatorEndToEndTests/obj/Debug/net9.0/CalculatorEndToEndTests.csproj.AssemblyReference.cache
src/Calculator/CalculatorEndToEndTests/obj/Debug/net9.0/CalculatorEndToEndTests.GeneratedMSBuildEditorConfig.editorconfig
src/Calculator/CalculatorEndToEndTests/obj/Debug/net9.0/CalculatorEndToEndTests.GlobalUsings.g.cs
src/Calculator/CalculatorEndToEndTests/obj/project.assets.json
src/Calculator/CalculatorEndToEndTests/obj/project.nuget.cache
src/Calculator/CalculatorEndToEndTests/obj/project.packagespec.json
src/Calculator/CalculatorEndToEndTests/obj/rider.project.restore.info
src/Calculator/CalculatorLogic/obj/CalculatorLogic.csproj.nuget.dgspec.json
src/Calculator/CalculatorLogic/obj/CalculatorLogic.csproj.nuget.g.props
src/Calculator/CalculatorLogic/obj/CalculatorLogic.csproj.nuget.g.targets
src/Calculator/CalculatorLogic/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
src/Calculator/CalculatorLogic/obj/Debug/net9.0/CalculatorLogic.AssemblyInfo.cs
src/Calculator/CalculatorLogic/obj/Debug/net9.0/CalculatorLogic.AssemblyInfoInputs.cache
src/Calculator/CalculatorLogic/obj/Debug/net9.0/CalculatorLogic.assets.cache
src/Calculator/CalculatorLogic/obj/Debug/net9.0/CalculatorLogic.GeneratedMSBuildEditorConfig.editorconfig
src/Calculator/CalculatorLogic/obj/Debug/net9.0/CalculatorLogic.GlobalUsings.g.cs
src/Calculator/CalculatorLogic/obj/project.assets.json
src/Calculator/CalculatorLogic/obj/project.nuget.cache
src/Calculator/CalculatorLogic/obj/project.packagespec.json
src/Calculator/CalculatorLogic/obj/rider.project.restore.info
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/.msCoverageSourceRootsMapping_CalculatorLogicUnitTests
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/CoverletSourceRootsMapping_CalculatorLogicUnitTests
src/Calculator/CalculatorLogicUnitTests/obj/.Rhistory
src/Calculator/CalculatorLogicUnitTests/obj/CalculatorLogicUnitTests.csproj.nuget.dgspec.json
src/Calculator/CalculatorLogicUnitTests/obj/CalculatorLogicUnitTests.csproj.nuget.g.props
src/Calculator/CalculatorLogicUnitTests/obj/CalculatorLogicUnitTests.csproj.nuget.g.targets
src/Calculator/CalculatorLogicUnitTests/obj/CalculatorUnitTests.csproj.nuget.dgspec.json
src/Calculator/CalculatorLogicUnitTests/obj/CalculatorUnitTests.csproj.nuget.g.props
src/Calculator/CalculatorLogicUnitTests/obj/CalculatorUnitTests.csproj.nuget.g.targets
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.AssemblyInfo.cs
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.AssemblyInfoInputs.cache
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.assets.cache
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.csproj.AssemblyReference.cache
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.GeneratedMSBuildEditorConfig.editorconfig
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.GlobalUsings.g.cs
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorUnitTests.AssemblyInfo.cs
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorUnitTests.AssemblyInfoInputs.cache
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorUnitTests.assets.cache
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorUnitTests.csproj.AssemblyReference.cache
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorUnitTests.GeneratedMSBuildEditorConfig.editorconfig
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorUnitTests.GlobalUsings.g.cs
src/Calculator/CalculatorLogicUnitTests/obj/project.assets.json
src/Calculator/CalculatorLogicUnitTests/obj/project.nuget.cache
src/Calculator/CalculatorLogicUnitTests/obj/project.packagespec.json
src/Calculator/CalculatorLogicUnitTests/obj/rider.project.model.nuget.info
src/Calculator/CalculatorLogicUnitTests/obj/rider.project.restore.info
src/Calculator/CalculatorWebServerApp/obj/CalculatorWebServerApp.csproj.nuget.dgspec.json
src/Calculator/CalculatorWebServerApp/obj/CalculatorWebServerApp.csproj.nuget.g.props
src/Calculator/CalculatorWebServerApp/obj/CalculatorWebServerApp.csproj.nuget.g.targets
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.AssemblyInfo.cs
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.AssemblyInfoInputs.cache
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.assets.cache
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.GeneratedMSBuildEditorConfig.editorconfig
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.GlobalUsings.g.cs
src/Calculator/CalculatorWebServerApp/obj/project.assets.json
src/Calculator/CalculatorWebServerApp/obj/project.nuget.cache
src/Calculator/CalculatorWebServerApp/obj/project.packagespec.json
src/Calculator/CalculatorWebServerApp/obj/rider.project.model.nuget.info
src/Calculator/CalculatorWebServerApp/obj/rider.project.restore.info
src/Calculator/CalculatorEndToEndTests/obj/rider.project.model.nuget.info
src/Calculator/CalculatorLogic/bin/Debug/net9.0/CalculatorLogic.deps.json
src/Calculator/CalculatorLogic/bin/Debug/net9.0/CalculatorLogic.dll
src/Calculator/CalculatorLogic/bin/Debug/net9.0/CalculatorLogic.pdb
src/Calculator/CalculatorLogic/obj/Debug/net9.0/CalculatorLogic.csproj.CoreCompileInputs.cache
src/Calculator/CalculatorLogic/obj/Debug/net9.0/CalculatorLogic.csproj.FileListAbsolute.txt
src/Calculator/CalculatorLogic/obj/Debug/net9.0/CalculatorLogic.dll
src/Calculator/CalculatorLogic/obj/Debug/net9.0/CalculatorLogic.pdb
src/Calculator/CalculatorLogic/obj/Debug/net9.0/CalculatorLogic.sourcelink.json
src/Calculator/CalculatorLogic/obj/Debug/net9.0/ref/CalculatorLogic.dll
src/Calculator/CalculatorLogic/obj/Debug/net9.0/refint/CalculatorLogic.dll
src/Calculator/CalculatorLogic/obj/rider.project.model.nuget.info
src/Calculator/CalculatorWebServerApp/bin/Debug/net9.0/appsettings.Development.json
src/Calculator/CalculatorWebServerApp/bin/Debug/net9.0/appsettings.json
src/Calculator/CalculatorWebServerApp/bin/Debug/net9.0/CalculatorLogic.dll
src/Calculator/CalculatorWebServerApp/bin/Debug/net9.0/CalculatorLogic.pdb
src/Calculator/CalculatorWebServerApp/bin/Debug/net9.0/CalculatorWebServerApp.deps.json
src/Calculator/CalculatorWebServerApp/bin/Debug/net9.0/CalculatorWebServerApp.dll
src/Calculator/CalculatorWebServerApp/bin/Debug/net9.0/CalculatorWebServerApp.exe
src/Calculator/CalculatorWebServerApp/bin/Debug/net9.0/CalculatorWebServerApp.pdb
src/Calculator/CalculatorWebServerApp/bin/Debug/net9.0/CalculatorWebServerApp.runtimeconfig.json
src/Calculator/CalculatorWebServerApp/bin/Debug/net9.0/CalculatorWebServerApp.staticwebassets.endpoints.json
src/Calculator/CalculatorWebServerApp/bin/Debug/net9.0/CalculatorWebServerApp.staticwebassets.runtime.json
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/apphost.exe
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/Calculat.BC556094.Up2Date
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.csproj.AssemblyReference.cache
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.csproj.CoreCompileInputs.cache
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.csproj.FileListAbsolute.txt
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.dll
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.genruntimeconfig.cache
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.MvcApplicationPartsAssemblyInfo.cache
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.pdb
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.sourcelink.json
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/.Rhistory
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/0fxfocfp5h-43atpzeawx.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/0gudlnjexf-d4r6k3f320.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/0p45ub8eja-ynyaa8k90p.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/1o1f45e2dn-sejl45xvog.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/3oab04x0im-fvhpjtyr6v.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/4eaoq4tu62-ausgxo2sd3.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/5qa9wfbcrn-8vyfqsqgz1.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/60lr1y7xf0-y7v9cxd14o.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/6fs89j00hx-ltid2c489k.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/6sa033d63i-c2oey78nd0.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/7d9h3hjrv4-ft3s53vfgj.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/89j2gxyf0q-gye83jo8yx.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/8xbd0bqs2f-qesaa3a1fm.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/97nmq86wlu-c63t5i9ira.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/9iip5iqjzl-22vffe00uq.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/ao19ng7mbn-nvvlpmu67g.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/cgsu50zrd3-wl58j5mj3v.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/cnwe68vsdd-r4e9w2rdcm.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/fc91itqts2-4d85u1mtcx.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/fw4wd8sdlh-kbrnm935zg.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/ggemcb83tp-0j3bgjxly4.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/gs275p5j6d-iovd86k7lj.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/h407q988fu-9txdovo5au.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/hq3bqu8m2w-6pdc2jztkx.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/hyjacp3xsg-cosvhxvwiu.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/iclj9a3um5-u9q1upor1n.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/igo95s3etv-hd3gran6i8.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/j8fy39f7wg-9txdovo5au.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/jkq5ghhh5k-4094rpi4f9.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/jq520ln8k3-c2jlpeoesf.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/k73nmku0ru-hrwsygsryq.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/kdzgh8qnop-fsbi9cje9m.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/knudmrngc3-rxsg74s51o.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/l46u5way0p-t1cqhe9u97.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/pocpx5dp6w-jd9uben2k1.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/r12p6zuii7-j5mq2jizvt.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/rp7lkty1ua-pj5nd1wqec.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/rud0oxsnpa-v0zj4ognzu.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/tf4o6krals-q9ht133ko3.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/tv72qti8h9-ee0r1s7dh0.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/txo2gcwoqi-tmc1g35s3z.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/u75u7gfh91-aexeepp0ev.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/u9vi3wbf19-h1s4sie4z3.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/v0tp1jnm5q-keugtjm085.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/xbn80bg4vt-khy4lop6wu.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/y2ck5gy0v4-zub09dkrxp.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/compressed/yvghs94ozg-xvp3kq03qx.gz
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/ref/CalculatorWebServerApp.dll
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/refint/CalculatorWebServerApp.dll
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/scopedcss/bundle/CalculatorWebServerApp.styles.css
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/scopedcss/Components/Layout/MainLayout.razor.rz.scp.css
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/scopedcss/projectbundle/CalculatorWebServerApp.bundle.scp.css
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/staticwebassets.build.endpoints.json
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/staticwebassets.build.json
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/staticwebassets.development.json
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/staticwebassets.pack.json
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/staticwebassets/msbuild.build.CalculatorWebServerApp.props
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.CalculatorWebServerApp.props
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.CalculatorWebServerApp.props
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/staticwebassets/msbuild.CalculatorWebServerApp.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/staticwebassets/msbuild.CalculatorWebServerApp.Microsoft.AspNetCore.StaticWebAssets.props
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/CalculatorLogic.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/CalculatorLogic.pdb
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/CalculatorLogicUnitTests.deps.json
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/CalculatorLogicUnitTests.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/CalculatorLogicUnitTests.pdb
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/CalculatorLogicUnitTests.runtimeconfig.json
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/Microsoft.TestPlatform.CommunicationUtilities.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/Microsoft.TestPlatform.CoreUtilities.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/Microsoft.TestPlatform.CrossPlatEngine.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/Microsoft.TestPlatform.PlatformAbstractions.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/Microsoft.TestPlatform.Utilities.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/Microsoft.VisualStudio.TestPlatform.Common.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/Newtonsoft.Json.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/nunit.engine.api.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/nunit.engine.core.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/nunit.engine.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/nunit.framework.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/nunit.framework.legacy.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/NUnit3.TestAdapter.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/NUnit3.TestAdapter.pdb
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/testcentric.engine.metadata.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/testhost.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/testhost.exe
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/Calculat.3B204D7D.Up2Date
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.csproj.CoreCompileInputs.cache
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.csproj.FileListAbsolute.txt
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.dll
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.genruntimeconfig.cache
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.pdb
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.sourcelink.json
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/ref/CalculatorLogicUnitTests.dll
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/refint/CalculatorLogicUnitTests.dll
