
src/Calculator/CalculatorEndToEndTests/obj/CalculatorEndToEndTests.csproj.nuget.dgspec.json
src/Calculator/CalculatorEndToEndTests/obj/CalculatorEndToEndTests.csproj.nuget.g.props
src/Calculator/CalculatorEndToEndTests/obj/CalculatorEndToEndTests.csproj.nuget.g.targets
src/Calculator/CalculatorEndToEndTests/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
src/Calculator/CalculatorEndToEndTests/obj/Debug/net9.0/CalculatorEndToEndTests.AssemblyInfo.cs
src/Calculator/CalculatorEndToEndTests/obj/Debug/net9.0/CalculatorEndToEndTests.AssemblyInfoInputs.cache
src/Calculator/CalculatorEndToEndTests/obj/Debug/net9.0/CalculatorEndToEndTests.assets.cache
src/Calculator/CalculatorEndToEndTests/obj/Debug/net9.0/CalculatorEndToEndTests.csproj.AssemblyReference.cache
src/Calculator/CalculatorEndToEndTests/obj/Debug/net9.0/CalculatorEndToEndTests.GeneratedMSBuildEditorConfig.editorconfig
src/Calculator/CalculatorEndToEndTests/obj/Debug/net9.0/CalculatorEndToEndTests.GlobalUsings.g.cs
src/Calculator/CalculatorEndToEndTests/obj/project.assets.json
src/Calculator/CalculatorEndToEndTests/obj/project.nuget.cache
src/Calculator/CalculatorEndToEndTests/obj/project.packagespec.json
src/Calculator/CalculatorEndToEndTests/obj/rider.project.restore.info
src/Calculator/CalculatorLogic/obj/CalculatorLogic.csproj.nuget.dgspec.json
src/Calculator/CalculatorLogic/obj/CalculatorLogic.csproj.nuget.g.props
src/Calculator/CalculatorLogic/obj/CalculatorLogic.csproj.nuget.g.targets
src/Calculator/CalculatorLogic/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
src/Calculator/CalculatorLogic/obj/Debug/net9.0/CalculatorLogic.AssemblyInfo.cs
src/Calculator/CalculatorLogic/obj/Debug/net9.0/CalculatorLogic.AssemblyInfoInputs.cache
src/Calculator/CalculatorLogic/obj/Debug/net9.0/CalculatorLogic.assets.cache
src/Calculator/CalculatorLogic/obj/Debug/net9.0/CalculatorLogic.GeneratedMSBuildEditorConfig.editorconfig
src/Calculator/CalculatorLogic/obj/Debug/net9.0/CalculatorLogic.GlobalUsings.g.cs
src/Calculator/CalculatorLogic/obj/project.assets.json
src/Calculator/CalculatorLogic/obj/project.nuget.cache
src/Calculator/CalculatorLogic/obj/project.packagespec.json
src/Calculator/CalculatorLogic/obj/rider.project.restore.info
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/.msCoverageSourceRootsMapping_CalculatorLogicUnitTests
src/Calculator/CalculatorLogicUnitTests/bin/Debug/net9.0/CoverletSourceRootsMapping_CalculatorLogicUnitTests
src/Calculator/CalculatorLogicUnitTests/obj/.Rhistory
src/Calculator/CalculatorLogicUnitTests/obj/CalculatorLogicUnitTests.csproj.nuget.dgspec.json
src/Calculator/CalculatorLogicUnitTests/obj/CalculatorLogicUnitTests.csproj.nuget.g.props
src/Calculator/CalculatorLogicUnitTests/obj/CalculatorLogicUnitTests.csproj.nuget.g.targets
src/Calculator/CalculatorLogicUnitTests/obj/CalculatorUnitTests.csproj.nuget.dgspec.json
src/Calculator/CalculatorLogicUnitTests/obj/CalculatorUnitTests.csproj.nuget.g.props
src/Calculator/CalculatorLogicUnitTests/obj/CalculatorUnitTests.csproj.nuget.g.targets
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.AssemblyInfo.cs
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.AssemblyInfoInputs.cache
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.assets.cache
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.csproj.AssemblyReference.cache
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.GeneratedMSBuildEditorConfig.editorconfig
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorLogicUnitTests.GlobalUsings.g.cs
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorUnitTests.AssemblyInfo.cs
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorUnitTests.AssemblyInfoInputs.cache
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorUnitTests.assets.cache
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorUnitTests.csproj.AssemblyReference.cache
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorUnitTests.GeneratedMSBuildEditorConfig.editorconfig
src/Calculator/CalculatorLogicUnitTests/obj/Debug/net9.0/CalculatorUnitTests.GlobalUsings.g.cs
src/Calculator/CalculatorLogicUnitTests/obj/project.assets.json
src/Calculator/CalculatorLogicUnitTests/obj/project.nuget.cache
src/Calculator/CalculatorLogicUnitTests/obj/project.packagespec.json
src/Calculator/CalculatorLogicUnitTests/obj/rider.project.model.nuget.info
src/Calculator/CalculatorLogicUnitTests/obj/rider.project.restore.info
src/Calculator/CalculatorWebServerApp/obj/CalculatorWebServerApp.csproj.nuget.dgspec.json
src/Calculator/CalculatorWebServerApp/obj/CalculatorWebServerApp.csproj.nuget.g.props
src/Calculator/CalculatorWebServerApp/obj/CalculatorWebServerApp.csproj.nuget.g.targets
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.AssemblyInfo.cs
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.AssemblyInfoInputs.cache
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.assets.cache
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.GeneratedMSBuildEditorConfig.editorconfig
src/Calculator/CalculatorWebServerApp/obj/Debug/net9.0/CalculatorWebServerApp.GlobalUsings.g.cs
src/Calculator/CalculatorWebServerApp/obj/project.assets.json
src/Calculator/CalculatorWebServerApp/obj/project.nuget.cache
src/Calculator/CalculatorWebServerApp/obj/project.packagespec.json
src/Calculator/CalculatorWebServerApp/obj/rider.project.model.nuget.info
src/Calculator/CalculatorWebServerApp/obj/rider.project.restore.info
